.mismo {
  margin-left:25%;
    margin-right: 38%;
}
h1 {
  width: 100%;
margin-left: auto;
left: auto;
right: auto;
}
p {
  font-size: 16px;
  color:white;
  font-family:arial;
}
h3 {
  text-decoration: none;
    color: #64b5f6;
    font-size: 22.4px;
    font-family: Arial;
    margin: 0.5rem 0 1rem;
}
span {
  color: rgba(255,255,255,.7);
  font-size: 14.4px;
}
.mismo .mismo2 {
  margin-bottom: 1.5rem;
padding-top: 0.75rem;
padding-bottom: 1.75rem;
border-bottom: rgba(255,255,255,.1) solid 1px;
}
