#characters {
  margin-left: 25%;
  margin-right: 25%;
}
.igual .azul{
  background-color: rgba(0,0,0,.15);
width:150px;
height:110px;
position: absolute;
background-size: 105%;
background-position-y: 120%;
background-repeat: no-repeat;
border-radius: 0.75rem;
}
.igual.mismo .azul{
  position:relative;
  display:inline-block;
  overflow: hidden;
  margin: 0.375rem;
}
.igual .azul .izquierda{
  background-image:  url("../img/tipo/UvO3qhj.png");
  position:absolute;
  top:80px;
}
.igual.mismo .izquierda{
  position: absolute;
  width: 40%;
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 47px;
  left: 0.5%;
  bottom: 0.5%;
}
.igual.mismo .izquierda{
  display:block;
}
.igual.mismo .azul .nombre{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding: 0.25rem;
  background-color: rgba(0,0,0,.4);
  color: #fff;
  text-align: center;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family:arial;
}
.igual .azul{
  background-image: url("../img/colores/wxeW5z5.png");
  position:absolute;
}
.igual .azul .centro{
  width:140px;
  height:140px;
  position:absolute;
  padding-left:13px;
}
.igual .rojo{
  background-color: rgba(0,0,0,.15);
width:150px;
height:110px;
position: absolute;
background-size: 105%;
background-position-y: 120%;
background-repeat: no-repeat;
border-radius: 0.75rem;
}
.igual.mismo .rojo{
  position:relative;
  display:inline-block;
  overflow: hidden;
  margin: 0.375rem;
}
.igual .rojo .izquierda{
  background-image:  url("../img/tipo/UvO3qhj.png");
  position:absolute;
  top:80px;
}
.igual.mismo .izquierda{
  position: absolute;
  width: 25%;
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 47px;
  left: 0.5%;
  bottom: 0.5%;
}
.igual.mismo .izquierda{
  display:block;
}
.igual.mismo .rojo .nombre{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding: 0.25rem;
  background-color: rgba(0,0,0,.4);
  color: #fff;
  text-align: center;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family:arial;
}
.igual .rojo{
  background-image: url("../img/colores/a51fStC.png");
  position:absolute;
}
.igual .rojo .centro{
  width:140px;
  height:140px;
  position:absolute;
  padding-left:13px;
}
.igual .verde{
  background-color: rgba(0,0,0,.15);
width:150px;
height:110px;
position: absolute;
background-size: 105%;
background-position-y: 120%;
background-repeat: no-repeat;
border-radius: 0.75rem;
}
.igual.mismo .verde{
  position:relative;
  display:inline-block;
  overflow: hidden;
  margin: 0.375rem;
}
.igual .verde .izquierda{
  background-image:  url("../img/tipo/UvO3qhj.png");
  position:absolute;
  top:80px;
}
.igual.mismo .izquierda{
  position: absolute;
  width: 25%;
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 47px;
  left: 0.5%;
  bottom: 0.5%;
}
.igual.mismo .izquierda{
  display:block;
}
.igual.mismo .verde .nombre{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding: 0.25rem;
  background-color: rgba(0,0,0,.4);
  color: #fff;
  text-align: center;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family:arial;
}
.igual .verde{
  background-image: url("../img/colores/SiEtAuy.png");
  position:absolute;
}
.igual .verde .centro{
  width:140px;
  height:140px;
  position:absolute;
  padding-left:13px;
}
.igual .amarillo{
  background-color: rgba(0,0,0,.15);
width:150px;
height:115px;
position: absolute;
background-size: 105%;
background-position-y: 120%;
background-repeat: no-repeat;
border-radius: 0.75rem;
}
.igual.mismo .amarillo{
  position:relative;
  display:inline-block;
  overflow: hidden;
  margin: 0.375rem;
}
.igual .amarillo .izquierda{
  background-image:  url("../img/tipo/UvO3qhj.png");
  position:absolute;
  top:85px;
}
.igual.mismo .izquierda{
  position: absolute;
  width: 25%;
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 47px;
  left: 0.5%;
  bottom: 0.5%;
}
.igual.mismo .izquierda{
  display:block;
}
.igual.mismo .amarillo .nombre{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding: 0.25rem;
  background-color: rgba(0,0,0,.4);
  color: #fff;
  text-align: center;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family:arial;
}
.igual .amarillo{
  background-image: url("../img/colores/ZPJQxHl.png");
  position:absolute;
}
.igual .amarillo .centro{
  width:140px;
  height:140px;
  position:absolute;
  padding-left:13px;
}
.igual .morado{
  background-color: rgba(0,0,0,.15);
width:150px;
height:115px;
position: absolute;
background-size: 105%;
background-position-y: 120%;
background-repeat: no-repeat;
border-radius: 0.75rem;
}
.igual.mismo .morado{
  position:relative;
  display:inline-block;
  overflow: hidden;
  margin: 0.375rem;
}
.igual .morado .izquierda{
  background-image:  url("../img/tipo/UvO3qhj.png");
  position:absolute;
  top:85px;
}
.igual.mismo .izquierda{
  position: absolute;
  width: 25%;
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 47px;
  left: 0.5%;
  bottom: 0.5%;
}
.igual.mismo .izquierda{
  display:block;
}
.igual.mismo .morado .nombre{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding: 0.25rem;
  background-color: rgba(0,0,0,.4);
  color: #fff;
  text-align: center;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family:arial;
}
.igual .morado{
  background-image: url("../img/colores/wj7im8E.png");
  position:absolute;
}
.igual .morado .centro{
  width:140px;
  height:140px;
  position:absolute;
  padding-left:13px;
}
.igual.mismo .amarillo .limite{
  position: relative;
    bottom: 0;
    right: 0;
    font-size: .65rem;
    text-transform: uppercase;
    background-image: url("../img/varios/CharaInfo_icnLimitedPlate.png");
    line-height: 1;
    display: block;
    background-size: cover;
    padding: 0.2rem;
    text-align: center;
    color: #424242;
    background-position: center;
    top:95px;
    width:110px;
    float:right;
}
.igual.mismo .azul .limite{
  position: relative;
    bottom: 0;
    right: 0;
    font-size: .65rem;
    text-transform: uppercase;
    background-image: url("../img/varios/CharaInfo_icnLimitedPlate.png");
    line-height: 1;
    display: block;
    background-size: cover;
    padding: 0.2rem;
    text-align: center;
    color: #424242;
    background-position: center;
    top:90px;
    width:110px;
    float:right;
}
.igual.mismo .rojo .limite{
  position: relative;
    bottom: 0;
    right: 0;
    font-size: .65rem;
    text-transform: uppercase;
    background-image: url("../img/varios/CharaInfo_icnLimitedPlate.png");
    line-height: 1;
    display: block;
    background-size: cover;
    padding: 0.2rem;
    text-align: center;
    color: #424242;
    background-position: center;
    top:90px;
    width:110px;
    float:right;
}
.igual.mismo .verde .limite{
  position: relative;
    bottom: 0;
    right: 0;
    font-size: .65rem;
    text-transform: uppercase;
    background-image: url("../img/varios/CharaInfo_icnLimitedPlate.png");
    line-height: 1;
    display: block;
    background-size: cover;
    padding: 0.2rem;
    text-align: center;
    color: #424242;
    background-position: center;
    top:90px;
    width:110px;
    float:right;
}
.igual.mismo .morado .limite{
  position: relative;
    bottom: 0;
    right: 0;
    font-size: .65rem;
    text-transform: uppercase;
    background-image: url("../img/varios/CharaInfo_icnLimitedPlate.png");
    line-height: 1;
    display: block;
    background-size: cover;
    padding: 0.2rem;
    text-align: center;
    color: #424242;
    background-position: center;
    top:95px;
    width:110px;
    float:right;
}
.igual.mismo .derecha{
  background-image:  url("../img/tipo/ZICDNxl.png");
  position:absolute;
  top:80px;
}
.igual.mismo .derecha{
  position: absolute;
  width: 25%;
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 47px;
  left: 0.5%;
  bottom: 0.5%;
}
