.mitad {
	margin-left: 25%;
	margin-right: 25%;
}
.consulta {
	margin-left:18%;
	margin-right:12%;
}
h3{
	color: white;
}
.informacion {
	margin-top: 12px;
}
h2 {
	margin-left:50px;
	color:white;
}
.contador {
	margin-left: 150px;
}
.codigo {
		text-align: center;
}
